@model QuizWiz.Models.ExamSectionModel

@{
  ViewBag.Title = "Take";
}

<h1>Taking @Model.Exam.Name</h1>

<input type="hidden" id="SubmissionId" name="SubmissionId" value="@Model.Submission.SubmissionId"/>
<input type="hidden" id="QuestionsCount" name="QuestionsCount" value="@Model.Exam.Questions.Count"/>
<input type="hidden" id="RemainingSeconds" name="RemainingSeconds" value="@((Model.Exam.Duration * 60) - Model.Submission.Elapsed.TotalSeconds)"/>

<div>
  Remaining: <strong><span data-bind="text: remaining"></span> minutes</strong> Current time: <span data-bind="text: clock"></span>
</div>

<div>
    <h2>
        Question <span data-bind="text: orderIndex"></span>/<span data-bind="text: questionsCount"></span>
    </h2>
</div>

<div data-bind="template: { name: 'question-template', data: question }">
</div>

<div>
  <button class="btn btn-primary" data-bind="click: prevQuestion, visible: hasPrev">previous</button>
  <button class="btn btn-primary" data-bind="click: submitQuestion">next</button>
  <button class="btn btn-primary" data-bind="click: finish, visible: hasNext">go to end</button>
</div>

<script type="text/html" id="question-template">
  <h3 data-bind="html: Text"></h3>
  <!-- ko ifnot: IsOpenEnded -->
  <div data-bind="template: { name: 'answer-template', foreach: Answers, as: 'answer' }"></div>
  <!-- /ko -->
  <!-- ko if: IsOpenEnded -->
  <p>
      <textarea data-bind="value: $root.responseText, hasfocus: !$root.responseText()" class="form-control" rows="10"></textarea>
  </p>
  <!-- /ko -->
</script>

<script type="text/html" id="answer-template">
  <p>
    <input data-bind="value: AnswerId, checked: $root.responseId" name="answerGroup" type="radio" value="" class="form-control"/><span data-bind="html: Text"></span>
  </p>
</script>

@section Scripts {
  <script>
    $.enableExam = {};
    $.enableExam.question = JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Question)))');
  </script>

  <script type="text/javascript">
    function ExamViewModel() {
      var self = this;
      self.responseId = ko.observable();
      self.responseText = ko.observable();
      self.hasNext = ko.observable(true);
      self.hasPrev = ko.observable(false);
      self.total = ko.observable(0);
      self.question = ko.observable($.enableExam.question);
      self.submissionId = ko.observable($('#SubmissionId').val());
      self.questionsCount = ko.observable(parseInt($('#QuestionsCount').val(), 10));
      self.remainingSeconds = ko.observable(parseInt($('#RemainingSeconds').val(), 10));

      self.remaining = ko.computed(function () {
          return Math.ceil(self.remainingSeconds()/60);
      });

      self.orderIndex = ko.computed(function () {
          return self.question().OrderIndex + 1;
      });

      function submit(prev) {
        $.ajax({
          url: '/exams/submitresponse',
          type: 'POST',
          dataType: 'json',
          data: { SubmissionId: self.submissionId, QuestionId: self.question().QuestionId, AnswerId: self.responseId, Value: self.responseText() },
          success: function (data) {
            if (!prev) {
              if (data.HasNext) {
                location.hash = data.OrderIndex;
              }
              else {
                location = '/exams/status?submissionId=' + self.submissionId();
              }
            } else {
              if (self.question().OrderIndex - 1 >= 0) {
                location.hash = self.question().OrderIndex - 1;
              }
              else {
                location.hash = 0;
              }
            }
          },
          error: function (jqXhr, status, msg) {
            if (jqXhr.status == 300) {
              location = '/exams/finished';
            }
            else {
              alert("Unexpected error. Contact support.");
            }
          }
        });
      };

      self.prevQuestion = function () {
        submit(true);
      };

      self.submitQuestion = function () {
        submit(false);
      };

      self.finish = function (submissionId) {
        location = '/exams/status?submissionId=' + self.submissionId();
      };

      self.getQuestion = function (orderIndex, submissionId) {
        $.ajax({
          url: '/exams/getquestion',
          type: 'GET',
          data: { OrderIndex: orderIndex, SubmissionId: submissionId },
          dataType: 'json',
          success: function (data) {
            if (data.Question) {
              self.question(data.Question);
              self.responseText(data.Response ? data.Response.Value : "");
              self.hasPrev(self.question().OrderIndex > 0);
              self.hasNext(self.question().OrderIndex + 1 < self.questionsCount());  
            }
            else {
              location = '/exams/status?submissionId=' + self.submissionId();
            }
          },
          error: function (jqXhr) {
            if (jqXhr.status == 300) {
              location = '/exams/finished';
            }
            else {
              alert("Unexpected error. Contact support.");
            }
          }
        });
      };

      self.clock = ko.observable(new Date());

      self.tick = function () {
          self.clock(new Date());
          self.remainingSeconds(self.remainingSeconds() - 1);
      };

      self.heartbeat = function () {
        $.ajax({
          url: '/exams/heartbeat',
          type: 'GET',
          data: { SubmissionId: self.submissionId },
          success: function () {
          },
          error: function () {
          }
        });
      };

      setInterval(self.tick, 1000);

      setInterval(self.heartbeat, @(QuizWiz.Models.Exam.HEARTBEAT_INTERVAL * 1000));

      Sammy(function () {
        this.get('#:orderIndex', function () {
          self.getQuestion(this.params.orderIndex, self.submissionId);
        });
      }).run();
    };

    var viewModel = new ExamViewModel();
    ko.applyBindings(viewModel);
  </script>
}